body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  --background: #07041b;
  background: var(--background);
  transition: background 0.5s ease;
}

main {
  margin: auto;
  max-width: 500px;
  position: relative;
}

#canvas {
  position: absolute;
  object-fit: contain;
  width: 100%;
  z-index: 0;
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.button {
  cursor: pointer;
}

section {
  z-index: 1;
  position: relative;
  transition: opacity 0.4s ease;
}

.top {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

header .left,
header .right {
  width: 100px;
}

header .right {
  text-align: right;
}

.mid {
  padding: 20px;
}

.mid-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mid-grid {
  display: grid;
  grid-template-columns: 50px 1fr 130px;
  gap: 20px;
}

.mid-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.mid-bottom2 {
  display: flex;
  align-items: center;
}

.mid-bottom2 svg {
  margin-right: 20px;
}

.mid-flex {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  line-height: 2;
}

.mid-flex div {
  flex: 1;
}

.mid-gradient {
  position: relative;
  border: 4px solid transparent;
  border-radius: 16px;
  background: var(--background);
  background-clip: padding-box;
  padding: 20px 20px 20px 0;
  margin: 20px 0;
  /* just to show box-shadow still works fine */
  text-align: left;
}

.mid-gradient::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(#292548, #99504f);
  content: "";
  z-index: -1;
  border-radius: 16px;

  /* mask gradient*/
  -webkit-mask-image: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 80%
  );
}

.mid-gradient span {
  color: #2f6480;
  margin-right: 10px;
}

.mid-list {
  text-align: right;
}

.mid-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 40px;
}

.mid-list li {
  margin-bottom: 10px;
  position: relative;
}

.mid-list li::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #2f6480;
  top: 10px;
  right: -40px;
}

.grid {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.video {
  position: relative;
  flex: 1;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
}

.video::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(0, 0, 0, 0) 20%
  );
  pointer-events: none;
}

.video:hover {
  transform: scale(1.1);
}

.video video {
  width: 100%;
  height: 100%;
}

/* manage sections*/
.dark {
  --background: #100721;
}

.white {
  background: #fff;
}
